<div style="max-width:350px;">
<h1 class="page-header"> Login title</h1>

<div class="row snow-hide-message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<form [formGroup]="loginForm" (submit)="loginForm.submitted=true; loginForm.valid && onRegistratinFromSubmit()">
    <div class="form-group" [ngClass]="{'has-error': !loginForm.controls.username.valid && (loginForm.controls.username.touched || loginForm.submitted )}">
        <label for="username" >Username</label>
        <div>
            <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Username" 
            formControlName="username" />
            <ul class="help-block">
                <li *ngIf="loginForm.controls.username.errors?.required  && (loginForm.controls.username.invalid || loginForm.submitted)">This field is required</li>
                <li *ngIf="(loginForm.controls.username.errors?.minlength  || loginForm.controls.username.errors?.maxlength)
                 && (loginForm.controls.username.dirty || loginForm.submitted)">Field length nust be between 3 to 15 </li>
            </ul>
        </div>
    </div>
    <!-- <div class="form-group" [ngClass]="{'has-error':loginForm.controls.email.errors  && (loginForm.controls.username.invalid || loginForm.submitted )}">
        <label for="email" >email</label>
        <div>
            <input type="text" name="email" class="form-control" autocomplete="off" placeholder="example@technicaldiary.com" 
            formControlName="email"/>
            <ul class="help-block">
                <li *ngIf="loginForm.controls.email.errors?.required  && (loginForm.controls.username.invalid || loginForm.submitted)">This field is required</li>
                <li *ngIf="(loginForm.controls.email.errors?.minlength  || loginForm.controls.email.errors?.maxlength ) && (loginForm.controls.username.dirty || loginForm.submitted)">Field length nust be between 5 to 30 </li>
                <li *ngIf="loginForm.controls.email.errors?.validateEmail && (loginForm.controls.username.touched || loginForm.submitted)">Invalid Email </li>
            </ul>
        </div>
    </div> -->
    <div class="form-group" [ngClass]="{'has-error':loginForm.controls.password.errors  && (loginForm.controls.username.dirty || loginForm.submitted )}">
        <label for="password" >password</label>
        <div>
            <input type="text" name="password" class="form-control" autocomplete="off" placeholder="Password" 
            formControlName="password"/>
            <ul class="help-block">
                <li *ngIf="loginForm.controls.password.errors?.required  && (loginForm.controls.username.dirty || loginForm.submitted)">This field is required</li>
                <li *ngIf="loginForm.controls.password.errors?.minlength  || loginForm.controls.password.errors?.maxlength ">Field length nust be between 8 to 30 </li>
            </ul>
        </div>
    </div>
    <!-- <div class="form-group" [ngClass]="{'has-error':loginForm.controls.confirm.errors  && (loginForm.controls.username.dirty || loginForm.submitted )}">
        <label for="confirm" >confirm password</label>
        <div>
            <input type="text" name="confirm" class="form-control" autocomplete="off" placeholder="Confirm password" 
            formControlName="confirm"/>
            <ul class="help-block">
                <li *ngIf="loginForm.controls.confirm.errors?.required  && (loginForm.controls.confirm.dirty || loginForm.submitted)">This field is required</li>
                <li *ngIf="loginForm.errors?.matchningPasswords  && (loginForm.controls.confirm.dirty || loginForm.submitted)">Unmatched password</li>
            </ul>
        </div>
    </div> -->
    <input type="submit" class="btn btn-primary" value="submit" />
</form>
</div>